@import (less) "bootstrap-3.3.4-dist/css/bootstrap.css";


.clear {
  clear: both;
}

/* デバッグ用 */
pre {
  -webkit-user-select: text;
}

div#headerPane > div {
  float: left;
}

.tab-pane {
  height: 400px;
  overflow: auto;
}


/*
フレンドリスト関連設定
*/

table#friendsTable {
  -webkit-user-select: text;
  cursor: text;
}


table#friendsTable td.characterName {
  cursor: pointer;
}

/* フレンドリストでオンラインプレイヤーの背景色を変更 */
table#friendsTable tr.online {
  background-color: yellow;
}

/* 職人ギルド依頼の依頼リストと詳細を横並びに */
div#syokuninContent > div {
  float: left;
}

/* バザー検索タブ */
div#bazaarPane {
  overflow: hidden;
  > div {
    overflow: left;
  }
  > div#bazaarSearchConditionPane {
    .col-xs-6;
  }
  > div#searchResult {
    .col-xs-6;
  }
}
div#bazaarPane:after {
  .clear;
}

/* バザー検索フォーム */
div#bazaarSearchConditionPane > form > div {
  .form-group;
  > label {
    .col-xs-5;
  }
  > div {
    .col-xs-7;
    > select, input {
      .form-control;
    }
    > select[disabled], input[disabled] {
      background-color: #eee;
    }
  }
}

